#elementCanvas {
	z-index: -1;
}


#optionsTable {
	position: fixed;
	width: 400px;
	top: 35px;
	left: 55px;
	background-color: white;
	z-index: 1;

	border: 1px solid black;
	font-size: 14px;
	padding: 2px;
}


#menuTable {
	position: fixed;
	width: 400px;
	top: 35px;
	left: 55px;
	background-color: white;
	z-index: 1;
	text-align: center;

	border: 1px solid black;
	font-size: 14px;
	border-spacing: 50px;
}

#newGame, #options, #help {
	width: 200px;
	font-size: 30px;
	height: 50px;
}

#newGame2 {
	position: fixed;
	top: 450px;
	left: 50px;
	width: 100px;
	font-size: 12px;
	height: 30px;
	font-size: 16px;
}

#menu {
	position: fixed;
	top: 450px;
	left: 170px;
	width: 100px;
	font-size: 12px;
	height: 30px;
	font-size: 16px;
}

#helpText {
	position: fixed;
	width: 600px;
	top: 35px;
	left: 55px;
	background-color: white;
	z-index: 1;
}

#menu2 {
	width: 100px;
	height: 30px;
	font-size: 12px;
}